<div class="description"><h3>Directly editing values...</h3></div>
<div class="row">
	<div>&OpenCurlyDoubleQuote;<span class="prop">{{prop}}</span>&CloseCurlyDoubleQuote; of <span class="prop">{{name}}</span></div>
	<div class="editorcontainer">{{{editor}}}</div>
</div>
<link href="/styles/app/simulate/edit.css" rel="stylesheet">