<div id="simulatecontainer">
	<table id="keybindinglist">
		{{#each bindings}}
			<tr data-binding="{{name}}">
				<th>{{name}}</th>
				<td>▢</td>
			</tr>
		{{/each}}
	</table>
	<div id="processorcontainer"></div>
</div>
<link href="/styles/app/simulate/item.css" rel="stylesheet">