<menu>
	<div class="head">Editing <span class="monospaced">'<span class="processorname">{{name}}</span>'</span></div>
	<div class="button js-save">Save</div>
    <div class="button js-simulate">Simulate This</div>
    <div class="button js-simulate-newtab">Simulate This - New Tab</div>
</menu>
<div id="editor">{{{content}}}</div>