<table class="list">
<thead><tr>
<th>Title</th>
<th>Description</th>
<th class="right">Author</th>
<th></th>
<th></th>
</tr></thead>
<tbody></tbody>
</table>
<div class="button js-new">create new</div>
