<td class="js-edit">{{name}}</td>
<td class="js-edit">{{description}}</td>
<td class="right js-edit">{{author}}</td>
<td class="hover-underline small js-delete">Delete</td>
<td class="hover-underline small alwayson js-clone">Clone</td>
