<div class="topPadding"></div>
<b>mod86.io</b><br />
Copyright 2014, Tobias Zimmermann <br />
<a href="mailto:public@mod86.io">public@mod86.io</a><br />
<br />
<b>Libraries used</b>
<ul>
	<li><a href="http://ace.c9.io">Ace</a></li>
	<li><a href="http://jquery.com/">jQuery</a></li>
	<li><a href="http://backbonejs.org/">Backbone</a></li>
	<li><a href="http://marionettejs.com/">Marionette</a></li>
	<li><a href="http://handlebarsjs.com/">Handlebars</a></li>
	<li><a href="https://github.com/asciidisco/Backbone.Marionette.Handlebars">Marionette Handlebars Plugin</a></li>
	<li><a href="http://dmauro.github.io/Keypress/">Keypress.js</a></li>
	<li><a href="http://underscorejs.org/">Underscore</a></li>
	<li><a href="http://snapsvg.io/">Snap.svg</a></li>
	<li><a href="http://requirejs.org/">Require.js</a></li>
	<li><a href="https://github.com/guybedford/require-css">Require CSS Plugin</a></li>
	<li><a href="https://github.com/SlexAxton/require-handlebars-plugin">Require Handlebars Plugin</a></li>
</ul>
<br />
<b>Images used (under CC license)</b>
<ul>
	<li><a href="http://commons.wikimedia.org/wiki/File:KL_Motorola_MC68000_CDIP.jpg">Title image</a></li>
	<li><a href="http://www.flaticon.com/free-icon/microchip-variant-silhouette_30506">small abstract micro processor used as a logo</a></li>
</ul>
<br />