<form name="signup">
    <input name="username" placeholder="username" type="text">
    <input name="email" placeholder="email" type="email">
    <input name="password" placeholder="password" type="password">
    <input name="passcode" placeholder="passcode" type="password">
    <input type="submit" value="sign up">
</form>
<link href="/styles/index/login.css" rel="stylesheet">
