<header id="header">
    <a href="/">
        <h1>mod86</h1>
        <img src="/images/processor.svg" alt="icon">
    </a>
    <div class="flexFiller"></div>
    <nav>
        <ul>
            <li><a href="/"><span>Why?</span></a></li>
            <li><a href="/pricing"><span>Pricing</span></a></li>
            <li><a href="/faq"><span>FAQ</span></a></li>
            <li><a href="/contact"><span>Get in touch</span></a></li>
        </ul>
    </nav>
    <div class="flexFiller"></div>
    <a href="/login" class="login"><span>Log in</span></a>
    <a href="/signup" class="signup"><span>Sign up</span></a>
</header>
<main id="mainWrapper">
</main>
<footer id="footer">
    <div class="row">
        <div>
            <section class="col first">
                <h1>Read my <a href="https://blog.cu3po42.com">blog</a>.</h1>
                <p>Find this interesting? Want to know about more of my projects? Read my blog. I write about new technology and also other stuff. Mainly web related stuff, though.</p>
                <p><a href="https://blog.cu3po42.com" class="blog">blog.cu3po42.com</a></p>
            </section>
            <nav class="col">
                <h1>Contact.</h1>
                <ul>
                    <li><a href="/impress">Impress</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#" data-bypass>Report a bug</a></li>
                </ul>
            </nav>
        </div>
        <div class="col first copyright">
            &copy; 2014 Tobias <span class="alias">'Copper Phosphate'</span> Zimmermann
        </div>
    </div>
    <nav class="col row last">
        <h1>Read the <a href="https://confluence.cu3po42.com">docs</a>.</h1>
        <ul>
            <li><a href="#">What is a processor?</a></li>
            <li><a href="#">The simulator</a></li>
            <li><a href="#">The editor</a></li>
        </ul>
    </nav>
</footer>
<script src="/js/vendor/require.js" data-main="/js/index/main.js"></script>
<link href="/styles/index/index.css" rel="stylesheet">
<link href="/styles/common.css" rel="stylesheet">
