<div id="lightboxcontainer">
	<div id="lightbox">
		<div class="container">{{{contained}}}</div>
		<div class="buttoncontainer"><div class="button">{{buttontext}}</div></div>
	</div>
    <link rel="stylesheet" href="/styles/app/lightbox.css">
</div>
