<header id="header">
	<a href="/" class="logo">
		<h1>mod86</h1>
		<img src="/images/processor_white.svg" alt="icon">
	</a>
	<nav>
		<ul>
			<li><a href="/"><span>Dashboard</span></a></li>
			<li><a href="/simulate"><span>Simulate</span></a></li>
		</ul>
	</nav>
	<div class="flexFiller"></div>
	<a class="logout" href="/logout"><span>Logout</span></a>
	<a class="user" href="/user/<%= id %>"><span><%= username %></span></a>
</header>
<main id="mainWrapper">

</main>
<footer>

</footer>
<link href="/styles/common.css" rel="stylesheet">
<link href="/styles/app/index.css" rel="stylesheet">
<script src="/js/vendor/require.js" data-main="/js/app/main.js"></script>
